# Importing packages

In [1]:
using BenchmarkTools
using DataFrames
using DelimitedFiles
using XLSX
using CSV

# Using  CSVs, DataFrames

In [3]:
df = CSV.read("data_files/bse_500_symbols.csv");

In [4]:
head(df)

6×1 DataFrame
│ Row │ Symbol     │
│     │ String     │
├─────┼────────────┤
│ 1   │ HDFCBANK   │
│ 2   │ RELIANCE   │
│ 3   │ INFY       │
│ 4   │ HCLTECH    │
│ 5   │ BAJFINANCE │
│ 6   │ ICICIBANK  │

In [5]:
names(df)

1-element Array{String,1}:
 "Symbol"

In [6]:
describe(df)

1×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean    │ min     │ median  │ max       │ nunique │
│     │ Symbol   │ Nothing │ String  │ Nothing │ String    │ Int64   │
├─────┼──────────┼─────────┼─────────┼─────────┼───────────┼─────────┤
│ 1   │ Symbol   │         │ 3MINDIA │         │ ZYDUSWELL │ 495     │

In [6]:
# use @btime to calculate time
# use DataFrame(some_var) to convert to DataFrame
@btime CSV.write("data_files/data_export.csv", DataFrame(df))

  624.800 μs (979 allocations: 4.04 MiB)

"data_export.csv"

# Using XLSX files

XLSX.readtable(file_name, sheet_name, cell_range(optional))

In [10]:
table = XLSX.readtable("data_files/some_data.xlsx", "some_sheet")

(Any[Any[0.15175357844357995, 0.6905994349297802, 0.009428246661026818, 0.28581076385747517, 0.1393880542395829, 0.814807767905288, 0.9588993362292081, 0.6310877816373271, 0.8084462211268867, 0.7056113579035043  …  0.9049007389372572, 0.645285368595109, 0.2841870336122333, 0.5260016890924368, 0.7969964085979835, 0.0638623964847631, 0.2712596054407278, 0.6769000865455704, 0.5892018508921724, 0.8341945609508404], Any[7, 7, 9, 1, 9, 8, 7, 8, 3, 9  …  3, 7, 6, 4, 4, 9, 6, 1, 9, 5], Any[50, 77, 40, 66, 56, 96, 54, 62, 44, 63  …  63, 63, 78, 75, 75, 82, 74, 84, 76, 100]], [:Var_1, :Var_2, :Var_3])

In [11]:
# values
table[1]

3-element Array{Any,1}:
 Any[0.15175357844357995, 0.6905994349297802, 0.009428246661026818, 0.28581076385747517, 0.1393880542395829, 0.814807767905288, 0.9588993362292081, 0.6310877816373271, 0.8084462211268867, 0.7056113579035043  …  0.9049007389372572, 0.645285368595109, 0.2841870336122333, 0.5260016890924368, 0.7969964085979835, 0.0638623964847631, 0.2712596054407278, 0.6769000865455704, 0.5892018508921724, 0.8341945609508404]
 Any[7, 7, 9, 1, 9, 8, 7, 8, 3, 9  …  3, 7, 6, 4, 4, 9, 6, 1, 9, 5]
 Any[50, 77, 40, 66, 56, 96, 54, 62, 44, 63  …  63, 63, 78, 75, 75, 82, 74, 84, 76, 100]

In [12]:
# column names
table[2]

3-element Array{Symbol,1}:
 :Var_1
 :Var_2
 :Var_3

In [13]:
df_from_excel = DataFrame(table... ) 
# equivalent to DataFrame(table[1], table[2])

24×3 DataFrame
│ Row │ Var_1      │ Var_2 │ Var_3 │
│     │ Any        │ Any   │ Any   │
├─────┼────────────┼───────┼───────┤
│ 1   │ 0.151754   │ 7     │ 50    │
│ 2   │ 0.690599   │ 7     │ 77    │
│ 3   │ 0.00942825 │ 9     │ 40    │
│ 4   │ 0.285811   │ 1     │ 66    │
│ 5   │ 0.139388   │ 9     │ 56    │
│ 6   │ 0.814808   │ 8     │ 96    │
│ 7   │ 0.958899   │ 7     │ 54    │
│ 8   │ 0.631088   │ 8     │ 62    │
│ 9   │ 0.808446   │ 3     │ 44    │
│ 10  │ 0.705611   │ 9     │ 63    │
⋮
│ 14  │ 0.466105   │ 5     │ 74    │
│ 15  │ 0.904901   │ 3     │ 63    │
│ 16  │ 0.645285   │ 7     │ 63    │
│ 17  │ 0.284187   │ 6     │ 78    │
│ 18  │ 0.526002   │ 4     │ 75    │
│ 19  │ 0.796996   │ 4     │ 75    │
│ 20  │ 0.0638624  │ 9     │ 82    │
│ 21  │ 0.27126    │ 6     │ 74    │
│ 22  │ 0.6769     │ 1     │ 84    │
│ 23  │ 0.589202   │ 9     │ 76    │
│ 24  │ 0.834195   │ 5     │ 100   │

In [18]:
XLSX.writetable("df_export_to_excel.xlsx", df_from_excel)

# More on DataFrames

In [12]:
player = ["Dhoni", "Kohli", "Rohit", "Jadeja", "Dhavan"]
score = [120, 100, 20, 100, 75]

df_player_scores = DataFrame(player = player, score = score)

5×2 DataFrame
│ Row │ player │ score │
│     │ String │ Int64 │
├─────┼────────┼───────┤
│ 1   │ Dhoni  │ 120   │
│ 2   │ Kohli  │ 100   │
│ 3   │ Rohit  │ 20    │
│ 4   │ Jadeja │ 100   │
│ 5   │ Dhavan │ 75    │

In [13]:
ranking = [1, 2, 5, 3, 4]
df_player_ranks = DataFrame(player = player, rank = ranking)

5×2 DataFrame
│ Row │ player │ rank  │
│     │ String │ Int64 │
├─────┼────────┼───────┤
│ 1   │ Dhoni  │ 1     │
│ 2   │ Kohli  │ 2     │
│ 3   │ Rohit  │ 5     │
│ 4   │ Jadeja │ 3     │
│ 5   │ Dhavan │ 4     │

In [14]:
# join(a, b, on = :common_column_name)
df_cricket = join(df_player_scores, df_player_ranks, on = :player)

5×3 DataFrame
│ Row │ player │ score │ rank  │
│     │ String │ Int64 │ Int64 │
├─────┼────────┼───────┼───────┤
│ 1   │ Dhoni  │ 120   │ 1     │
│ 2   │ Kohli  │ 100   │ 2     │
│ 3   │ Rohit  │ 20    │ 5     │
│ 4   │ Jadeja │ 100   │ 3     │
│ 5   │ Dhavan │ 75    │ 4     │

# ⬇️ Importing your data - Other file types and usage¶

### .jld
```jl
using JLD

jld_data = JLD.load("data/mytempdata.jld")

save("mywrite.jld", "A", jld_data)
```

### .npz
```jl
using NPZ
npz_data = npzread("data/mytempdata.npz")
npzwrite("mywrite.npz", npz_data
```

### .rda
```jl
using RData
R_data = RData.load("data/mytempdata.rda")
# We'll need RCall to save here. https://github.com/JuliaData/RData.jl/issues/56
using RCall
@rput R_data
R"save(R_data, file=\"mywrite.rda\")"
```

### .mat
```jl
using MAT
Matlab_data = matread("data/mytempdata.mat")
matwrite("mywrite.mat",Matlab_data)
```

# 🔢 Time to process the data from Julia

In [36]:
function find_rank(df, player)
    loc = findfirst(df[:, "player"] .== player)
    !isnothing(loc) && return df[loc, "rank"]
    error("player not found")
end

find_rank (generic function with 1 method)

In [37]:
find_rank(df_cricket, "Dhoni")

1

In [38]:
function find_count_above_100_score(df)
    count = length(findall(df[:, "score"] .>= 100))
    return count 
end

find_count_above_100_score (generic function with 1 method)

In [39]:
find_count_above_100_score(df_cricket)

3

### Dictionaries in Julia

In [4]:
Dict([("A", 1), ("B", 2),("C", 1)])

Dict{String,Int64} with 3 entries:
  "B" => 2
  "A" => 1
  "C" => 1

In [6]:
Dict([("A", 1), ("B", [1, 2]), ("C", 3)])

Dict{String,Any} with 3 entries:
  "B" => [1, 2]
  "A" => 1
  "C" => 3

In [7]:
Dict([("A", 1), ("B", [1, 2]), (["C", "D"], 3)])

Dict{Any,Any} with 3 entries:
  "B"        => [1, 2]
  "A"        => 1
  ["C", "D"] => 3

In [8]:
# declaring a dict withou values
sample_dictionary = Dict{Integer,Vector{String}}()

Dict{Integer,Array{String,1}}()

In [11]:
sample_dictionary[1] = ["I", "love", "Julia"]
sample_dictionary[2] = ["Python", "SQL"]

sample_dictionary

Dict{Integer,Array{String,1}} with 2 entries:
  2 => ["Python", "SQL"]
  1 => ["I", "love", "Julia"]

In [29]:
cricket_dict = Dict{String, Integer}()

for i in 1:length(player)
    cricket_dict[player[i]] =  ranking[i]
end

cricket_dict

Dict{String,Integer} with 5 entries:
  "Kohli"  => 2
  "Dhoni"  => 1
  "Rohit"  => 5
  "Jadeja" => 3
  "Dhavan" => 4

In [30]:
k = rand(1:10, 20)
v = rand(1:100, 20)

kv_dict = Dict{Integer, Integer}()

Dict{Integer,Integer}()

In [31]:
for i in 1:length(k)
    if k[i] in keys(kv_dict)
        kv_dict[k[i]] = kv_dict[k[i]] + v[i]
    else
        kv_dict[k[i]] = v[i]
    end
end

kv_dict

In [35]:
unique(k)

8-element Array{Int64,1}:
  7
 10
  6
  8
  4
  3
  9
  1

In [37]:
keys(kv_dict), values(kv_dict)

(Integer[7, 4, 9, 10, 3, 8, 6, 1], Integer[78, 406, 48, 8, 60, 146, 14, 118])

### Missing data
dropmissing()

### <br> <br> <br> THE END!!!